<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116202148483-jk5sej4991kkqt95ipqnr772m9g5b3en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116202148483-jk5sej4991kkqt95ipqnr772m9g5b3en</string>
	<key>API_KEY</key>
	<string>AIzaSyCPNPHgjSglvcbKA8Pf0pZXn9lg29__0Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>116202148483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maxharavskyy.MY-WTM</string>
	<key>PROJECT_ID</key>
	<string>my-wtm</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wtm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116202148483:ios:2c5580ba607c8026dcc1b6</string>
	<key>DATABASE_URL</key>
	<string>https://my-wtm.firebaseio.com</string>
</dict>
</plist>